<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
    <h1>Here is the stuff you want</h1>
    <img src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/ea3a034a-351d-4d5e-9e39-6ebe24eebd23/air-jordan-1-mid-shoes-f8W9ns.png" width="300px">
    <img src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/9dca0780-43e6-407b-b014-17c1318d47e1/custom-nike-dunk-low-by-you.png" width="300px">
    <a href="/">Home</a>
    <a href="/product">Products</a>
</body>
</html>